:root{
  --black: #0c0c0c;
  --border-bg: rgba(255,255,255,.04);
  --white: #fff9f9;
  --light-x: #97bbc3;
  --dark-x: #050014;
  --x: #030017;
  --light-grey: #4a4a4a;
  --light-grey2: #2a2a2a;
  --light-grey3: #797979;
  --light-light-grey: #cfcfcf;
  --dark-blue: #000d26;
  --light-blue: #374f7d;
  --light-light-blue: #cfd8ff;
  --dark_white: #eeeeee;
  --date-tag-bg: #45b264;
  --hl-cyan: #00cfcf;
  --hl-green: #c8ff00;
  --hl-pink: #ff00a6;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  position: relative;
  
  margin: 0;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 50px;
  color: var(--white);
  background: transparent;

  overflow-x: hidden;
}

body:before{

  content: "";
  position: fixed;
  inset: 0;

  background-color: var(--black);

  background-image:
    linear-gradient(var(--border-bg) 2px, transparent 2px),
    linear-gradient(90deg, var(--border-bg) 2px, transparent 2px),
    linear-gradient(var(--border-bg) 1px, transparent 1px),
    linear-gradient(90deg, var(--border-bg) 1px, transparent 1px)
  ;

  background-size:
    80px 80px,
    80px 80px,
    20px 20px,
    20px 20px
  ;

  background-position:
    -2px -2px,
    -2px -2px
  ;

  z-index: -1;

}

button, input{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  color: var(--light-light-blue);
}

h1,h2,h3,p{
  margin: 0
}

b{
  font: inherit;
  color: var(--color-accent);
}

b.c{
  --color-accent: var(--hl-cyan);
}

b.g{
  --color-accent: var(--hl-green);
}

b.p{
  --color-accent: var(--hl-pink);
}

main{
  margin: 0 auto;
  max-width: 1000px;
}

header {
  --color-accent: var(--hl-cyan);

  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 40px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: transparent;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);

  border: 3px solid var(--light-grey2);
}

header .logo{

  font-family: "Bebas Neue", sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: bold;

}

.header-custom{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

header span.section{
  color: var(--light-grey3);
  font-size: 18px;
  font-weight: bold;
}

header .progress{

  font-size: 18px;
  font-weight: bold;

}

header .progress b#pb{
  margin: 0px 2px 0 10px;
}

header .pb-bar{

  position: absolute;
  height: 3px;
  bottom: -3px;
  left: 0;
  width: 0;
  background: var(--color-accent);

}


.intro-wrapper{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.intro-grid{

  height: 600dvh;

  display: flex;
  flex-direction: column;
  gap: 20px;

}

.intro-grid .intro-title{

  display: flex;
  flex-direction: column;
  gap: 10px;

}

.intro-grid .intro-title h1{
  font-weight: 900;
  font-size: 100px;
  letter-spacing: 5px;
  font-family: "Bebas Neue", sans-serif;
}

.intro-grid .intro-title h1 span{
  display: block;
}

.intro-grid .intro-title h2{
  font-weight: 700;
  font-size: 34px;
  color: var(--light-x);
}


/* ABOUT */

.about{

  height: 1100dvh;

}

.about-wrapper{
  --color-accent: var(--hl-green);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4,120px);
  padding: 2rem;
}

.about-wrapper h2{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  font-size: 90px;
}

.about-wrapper .intro-desc{

  position: relative;

  grid-column: 3 / 4;
  grid-row: 2 / 4;

  width: auto;
  font-size: 25px;
  line-height: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-wrapper .intro-desc p{

  padding: 30px 60px;
  outline: 2px solid var(--color-accent);

  position: absolute;
  width: 500px;

}

.about-wrapper .intro-desc p b{
  font-weight: bold;
}

/* SUBTLE BLOG GRID */

.fetch-blog{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fetch-blog .fetch-title{
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
}

.blog-wrapper{

  max-width: 1000px;
  margin: 0 auto;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  gap: 20px;   
  padding: 40px;
}

.blog-wrapper .blog-headbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-wrapper .blog-headbar .blog-title{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blog-wrapper .blog-headbar .blog-filter{
  display: flex;
  align-items: center;
  gap: 15px;
}

.blog-wrapper .blog-headbar .blog-filter button{

  background: transparent;
  padding: 8px 18px;
  font-size: 16px;
  border: 2px solid var(--light-light-grey);
  color: var(--light-light-grey);

  border-radius: 20px;
  cursor: pointer;
}

.blog-wrapper .blog-headbar .blog-filter button#blog-next{
  position: relative;
  display: flex;
  align-items: center;
  transition: transform .3s ease, border .15s ease;
  overflow: hidden;

  &>*{
    transition: translate .5s ease, color .4s ease;
  }
}

.blog-wrapper .blog-headbar .blog-filter button#blog-next::before{
  position: absolute;
  content: "";
  inset: 0 0 0 0;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  padding: 5px;
  background-color: var(--light-light-grey);
  translate: -136px 0;
  transition: translate .3s ease;
  pointer-events: none;
}


.blog-wrapper .blog-headbar .blog-filter button#blog-next .button-hover{
  translate: -100px 0px;
  font-size: 22px;
  color: var(--black);
  pointer-events: none;
}

.blog-wrapper .blog-headbar .blog-filter button#blog-next:hover{

  transform: scale(1.05);
  border: none;

  &>.button-hover{
    translate: 0px 0px;
  }

  &>.button-title{
    translate: 7px 0px;
    color: var(--black);
  }

  &::before{
    translate: 0px 0px;
  }

}

.blog-wrapper .blog-headbar .blog-filter button#blog-next .button-title{
  translate: -10px 0;
}

.blog-wrapper .blog-headbar .blog-filter input[type="number"]{

  padding: 4px;
  text-align: center;
  border: none;
  border-bottom: 3px solid var(--light-light-grey);
  font-size: 16px;
  background: transparent;
  color: var(--light-light-grey);

  height: 26px;
  width: 26px;
  transition: border-bottom .3s ease;

}

.blog-wrapper .blog-headbar .blog-filter input[type="number"]:focus{
  outline: none;
}

.blog-wrapper .blog-headbar .blog-filter input[type="number"]::-webkit-outer-spin-button,
.blog-wrapper .blog-headbar .blog-filter input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.blog-wrapper .blog-headbar .blog-filter input[type="number"] {
  -moz-appearance: textfield;
}

.blog-wrapper h2{
  font-size: 36px;
}

.blog-wrapper h3{
  font-size: 20px;
  color: var(--light-x);
}

.blog-wrapper .blog-grid{

  --width: 300px;
  --height: 235px;
  --dfl_height: 120px;

  display: grid;
  grid-template-columns: repeat(3, var(--width));
  max-width: calc( (var(--width) * 3) + 100px );

  gap: 20px;
}

.blog-grid .blog-item{

  display: grid;
  /* Cambiar dfl a height */
  grid-template-rows: var(--height) auto; 
  height: var(--height);
  width: auto;
  overflow: hidden;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  transition: grid-template-rows .5s ease;

  z-index: 2;
  cursor: pointer;
}

.blog-grid .blog-item:hover{
  grid-template-rows: var(--dfl_height) auto;

  &>.main-image::before{
    filter: brightness(.7) grayscale(.2);
  }

  &>.main-image h3{
    font-size: 40px;
    width: calc( var(--width) - 25px );
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  &>.main-image .date-tag{
    opacity: 0;
  }
}

.blog-grid .blog-item .main-image{
  position: relative;
  display: flex;
  align-items: end;
  pointer-events: none;
  overflow: hidden;
}

.blog-grid .blog-item .main-image::before{
  position: absolute;
  content: "";
  inset: 0;
  background: var(--bg);
  background-position: right 50% bottom 70%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(.6) grayscale(.2);
  transition: filter .3s ease;
  pointer-events: none;
  z-index: -1;
}

.blog-grid .blog-item .main-image h3{
  padding: 15px 20px;
  font-size: 28px;
  color: var(--white);
  transition: color .3s ease, font-size .3s ease;
  pointer-events: none;
  text-overflow: ellipsis;
}

.blog-grid .blog-item .main-image .date-tag{
  position: absolute;
  right: 25px;
  top: 20px;

  border-radius: 10px;

  background-color: var(--date-tag-bg);
}

.blog-grid .blog-item .main-image .date-tag h3{
  font-size: 18px;
  padding: 7px 12px;
}

.blog-grid .blog-item .blog-info{
  display: grid;
  grid-template-rows: 40px auto;
  background: var(--light-grey2);
  gap: 0px;
}

.blog-grid .blog-item .blog-info .blog-tags{
  display: flex;
  gap: 10px;
  padding: 9px 12px 0 12px;
}

.blog-grid .blog-item .blog-info .blog-tags .tag{
  display: flex;
  align-items: center;
  padding: 3px 10px;
  background: var(--light-light-grey);
  border-radius: 7px;
}

.blog-grid .blog-item .blog-info .blog-tags .tag h3{
  font-size: 18px;
  color: var(--black);
}

.blog-grid .blog-item .blog-info .blog-desc{
  font-size: 18px;
  text-align: left;
  /* justify-self: center; */
  align-self: center;
  padding: 0px 20px 5px 20px;
  color: var(--light-light-grey);
}

.blog-grid .blog-item .blog-info .blog-desc p{
  width: calc(var(--width) - 60px);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: clip;
}

/* Half Screen ( 2 Blogs ) */

@media (max-width: 1000px ) {

  .about-wrapper h2{
    font-size: 70px;
  }

  .about-wrapper .intro-desc{

    position: relative;

    grid-column: 3 / 4;
    grid-row: 2 / 4;

    width: auto;
    font-size: 20px;
    line-height: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-wrapper .intro-desc p{

    padding: 20px 30px;
    outline: 2px solid var(--color-accent);

    position: absolute;
    width: 300px;

  }
    
  .blog-wrapper .blog-grid{
    grid-template-columns: 50% 50%;
    gap: 20px;
  }

  .blog-grid .blog-item{
    --width: 100%;
  }

}


/* MOBILE media */

@media (max-width: 700px ) {
  
  .blog-wrapper .blog-grid{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
  }

  .blog-grid .blog-item{
    --width: 100%;
  }

}

@media (max-width: 480px ) {

  /* HEADER */
  header {
    width: 100vw;
    padding: 0 20px;
    height: 60px;
  }

  header .logo {
    font-size: 26px;
  }

  .header-custom {
    gap: 12px;
  }

  header span.section {
    display: none;
  }

  header .progress {
    font-size: 14px;
  }

  /* INTRO */
  .intro-grid .intro-title h1 {
    font-size: 60px;
  }

  .intro-grid .intro-title h2 {
    font-size: 16px;
  }

  .intro {
    overflow: hidden;
  }

  .about {
    overflow: hidden;
    height: 200dvh;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 40px;
    min-height: 100dvh;
  }

  .about-wrapper h2 {
    font-size: 50px;
    text-align: center;
  }

  .about-wrapper .intro-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  .about-wrapper .intro-desc p {
    position: relative;
    width: 100%;
    font-size: 16px;
    line-height: 1.7;
    padding: 20px;
    opacity: 1;

    &:nth-child(2){
      --color-accent: var(--hl-cyan);
    }

    &:nth-child(3){
      --color-accent: var(--hl-pink);
    }
  }

  /* FETCH BLOG TITLE */
  .fetch-blog .fetch-title {
    font-size: 40px;
    width: 100%;
    margin-bottom: 50px;
  }

  .blog-wrapper{
    position: relative;
    height: auto;
    margin-bottom: 100px;
  }
  
  .blog-wrapper .blog-headbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }


  .blog-wrapper .blog-headbar .blog-title h2{
    font-size: 30px;
  }

  .blog-wrapper .blog-headbar .blog-title h3{
    font-size: 18px;
  }

  .blog-wrapper .blog-headbar .blog-filter{
    position: absolute;
    bottom: -20px;
    left: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .blog-wrapper .blog-headbar .blog-filter button#blog-next{
    font-size: 16px;
    flex-wrap: nowrap;
    padding: 4px;
  }

  .blog-wrapper .blog-headbar .blog-filter button#blog-next:hover{

    transform: scale(1.05);
    border: none;

    &>.button-hover{
      translate: 40px 0px;
    }

    &>.button-title{
      translate: 80px 0px;
      color: white;
    }

    &::before{
      translate: 0px 0px;
    }

  }

  .blog-grid .blog-item .blog-info .blog-desc p{
    width: calc(var(--width) - 20px);
  }

}

