:root{
  --light-grey: #4a4a4a;
  --dark_blue: #000d26;
  --dark_white: #eeeeee;
}

body{
  margin: 0;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 50px;
}

button, input{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

h1,h2,h3,p{
  margin: 0;
}

main{
  margin: 0 auto;
  max-width: 1000px;
}

.intro-grid{

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;

}

.intro-grid .intro-title{
  margin: 5px 0px;
}

.intro-grid .intro-title h1{
  font-weight: 900;
  font-size: 48px;
}

.intro-grid .intro-title h2{
  font-weight: 700;
  font-size: 32px;
  color: var(--light-grey);
}

.intro-grid .intro-desc{
  display: flex;
  flex-direction: column;
  gap: 15px;
  line-height: 1.5;
  padding: 15px 20px;
  background-color: var(--dark_white);
  border-radius: 20px;
}

.intro-grid .intro-desc p{
  font-size: 1.2rem;
  text-align: left;
}

/* SUBTLE BLOG GRID */

.blog-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;   
  padding: 40px;
}

.blog-wrapper .blog-headbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-wrapper .blog-headbar .blog-title{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blog-wrapper .blog-headbar .blog-filter{
  display: flex;
  align-items: center;
  gap: 15px;
}

.blog-wrapper .blog-headbar .blog-filter button{

  background: transparent;
  padding: 8px 18px;
  font-size: 16px;
  border: 2px solid var(--dark_blue);

  border-radius: 20px;
  cursor: pointer;
}

.blog-wrapper .blog-headbar .blog-filter button#blog-next{
  position: relative;
  display: flex;
  align-items: center;
  transition: transform .3s ease, border .15s ease;
  overflow: hidden;

  &>*{
    transition: translate .5s ease, color .4s ease;
  }
}

.blog-wrapper .blog-headbar .blog-filter button#blog-next::before{
  position: absolute;
  content: "";
  inset: 0 0 0 0;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  padding: 5px;
  background-color: var(--dark_blue);
  translate: -136px 0;
  transition: translate .3s ease;
  pointer-events: none;
}


.blog-wrapper .blog-headbar .blog-filter button#blog-next .button-hover{
  translate: -100px 0px;
  font-size: 22px;
  color: #ffffff;
  pointer-events: none;
}



.blog-wrapper .blog-headbar .blog-filter button#blog-next:hover{

  transform: scale(1.05);
  border: none;

  &>.button-hover{
    translate: 0px 0px;
  }

  &>.button-title{
    translate: 7px 0px;
    color: white;
  }

  &::before{
    translate: 0px 0px;
  }

}

.blog-wrapper .blog-headbar .blog-filter button#blog-next .button-title{
  translate: -10px 0;
}

.blog-wrapper .blog-headbar .blog-filter input[type="number"]{

  padding: 4px;
  text-align: center;
  border: none;
  border-bottom: 2px solid var(--dark_blue);
  font-size: 16px;

  height: 26px;
  width: 26px;
  transition: border-bottom .3s ease;

}

.blog-wrapper .blog-headbar .blog-filter input[type="number"]:focus{
  outline: none;
}

.blog-wrapper .blog-headbar .blog-filter input[type="number"]::-webkit-outer-spin-button,
.blog-wrapper .blog-headbar .blog-filter input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.blog-wrapper h2{
  font-size: 36px;
}

.blog-wrapper h3{
  font-size: 20px;
  color: var(--light-grey);
}

.blog-wrapper .blog-grid{

  --width: 300px;
  --height: 235px;
  --dfl_height: 120px;

  display: grid;
  grid-template-columns: repeat(3, var(--width));
  max-width: calc( (var(--width) * 3) + 100px );

  gap: 20px;
}

.blog-grid .blog-item{

  display: grid;
  /* Cambiar dfl a height */
  grid-template-rows: var(--height) auto; 
  height: var(--height);
  width: auto;
  overflow: hidden;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  transition: grid-template-rows .5s ease;

  z-index: 2;
  cursor: pointer;
}

.blog-grid .blog-item:hover{
  grid-template-rows: var(--dfl_height) auto;

  &>.main-image::before{
    filter: brightness(.7) grayscale(.2);
  }

  &>.main-image h3{
    font-size: 40px;
    width: calc( var(--width) - 25px );
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    color: #ffffff;
  }

  &>.main-image .date-tag{
    opacity: 0;
  }
}

.blog-grid .blog-item .main-image{
  position: relative;
  display: flex;
  align-items: end;
  pointer-events: none;
  overflow: hidden;
}

.blog-grid .blog-item .main-image::before{
  position: absolute;
  content: "";
  inset: 0;
  background: var(--bg);
  background-position: right 50% bottom 70%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(.6) grayscale(.2);
  transition: filter .3s ease;
  pointer-events: none;
  z-index: -1;
}

.blog-grid .blog-item .main-image h3{
  padding: 15px 20px;
  font-size: 28px;
  color: #ffffffe1;
  transition: color .3s ease, font-size .3s ease;
  pointer-events: none;
  text-overflow: ellipsis;
}

.blog-grid .blog-item .main-image .date-tag{
  position: absolute;
  right: 25px;
  top: 20px;

  border-radius: 10px;

  background-color: #47b466;
}

.blog-grid .blog-item .main-image .date-tag h3{
  font-size: 18px;
  padding: 7px 12px;
}

.blog-grid .blog-item .blog-info{
  display: grid;
  grid-template-rows: 40px auto;
  background: var(--dark_white);
}

.blog-grid .blog-item .blog-info .blog-tags{
  display: flex;
  gap: 10px;
  padding: 7px 12px 0 12px;
}

.blog-grid .blog-item .blog-info .blog-tags .tag{
  display: flex;
  align-items: center;
  padding: 3px 10px;
  background: var(--dark_blue);
  border-radius: 7px;
}

.blog-grid .blog-item .blog-info .blog-tags .tag h3{
  font-size: 18px;
  color: white;
}

.blog-grid .blog-item .blog-info .blog-desc{
  font-size: 18px;
  text-align: left;
  /* justify-self: center; */
  align-self: center;
  padding: 5px 20px;
  color: var(--dark_blue);
}

.blog-grid .blog-item .blog-info .blog-desc p{
  width: calc(var(--width) - 60px);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: clip;
}

/* Half Screen ( 2 Blogs ) */

@media (max-width: 1000px ) {
  
  .blog-wrapper .blog-grid{
    grid-template-columns: 50% 50%;
    gap: 20px;
  }

  .blog-grid .blog-item{
    --width: 100%;
  }

}


/* MOBILE media */

@media (max-width: 700px ) {
  
  .blog-wrapper .blog-grid{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
  }

  .blog-grid .blog-item{
    --width: 100%;
  }

}

@media (max-width: 480px ) {

  .blog-wrapper{
    position: relative;
  }
  
  .blog-wrapper .blog-headbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .blog-wrapper .blog-headbar .blog-title h2{
    font-size: 30px;
  }

  .blog-wrapper .blog-headbar .blog-title h3{
    font-size: 18px;
  }

  .blog-wrapper .blog-headbar .blog-filter{
    position: absolute;
    bottom: -20px;
    left: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .blog-wrapper .blog-headbar .blog-filter button#blog-next{
    font-size: 16px;
    flex-wrap: nowrap;
    padding: 4px;
  }
}

