:root{
  --black: #1f1f1f;
  --white: #fff9f9;
  --light-x: #86adb6;
  --dark-x: #050014;
  --x: #030017;
  --light-grey: #4a4a4a;
  --light-grey2: #2a2a2a;
  --light-grey3: #797979;
  --light-light-grey: #cfcfcf;
  --dark-blue: #000d26;
  --light-blue: #374f7d;
  --cyan-blue: #3ff6c9;
  --light-light-blue: #cfd8ff;
  --dark_white: #eeeeee;
  --date-tag-bg: #45b264;
  --light-yellow: #fefead;
  --red: #fd6868;
}

.codex-editor ::selection,
.ce-popover ::selection,
.ce-inline-toolbar ::selection,
.ce-conversion-toolbar ::selection,
.ce-settings ::selection,
.ce-inline-tool-input::selection,
.cdx-search-field::selection,
input::selection,
textarea::selection,
[contenteditable="true"]::selection ,
::selection {
  background: var(--light-yellow) !important;
  color: #111 !important;
}

#editorjs > div > div.codex-editor__redactor{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ce-block__content{

  max-width: 100%;

}

.ce-paragraph.cdx-block{
  font-size: 18px;
  line-height: 1.7;
}

.ce-paragraph.cdx-block span{
  background-color: #fefead !important;
  color: var(--black);
}

.ce-paragraph.cdx-block a{
  text-decoration: none;
  -webkit-text-decoration: none;
  color: var(--light-yellow);

  transition: text-decoration .2s ease;
}

.ce-paragraph.cdx-block a:hover{
  text-decoration: underline;
  -webkit-text-decoration:underline;
}

.ce-block--selected .ce-block__content {
    background: transparent;
}

.ce-block__content{
  margin: 0;
}

.cdx-list__item{
  gap: 10px;
}

.cdx-list__item-content{
  font-size: 18px;
  line-height: 1.7;
}

.ce-toolbar__actions.ce-toolbar__actions--opened{

  margin-right: 20px;
  margin-top: 5px;

}

.ce-toolbar__settings-btn {
    color: var(--light-light-grey);
    width: 26px;
    height: 26px;
    border-radius: 7px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: 7px;
    margin-top: 6px;
    cursor: pointer;
    user-select: none;
}

.ce-toolbar__settings-btn:hover {
    background-color: transparent;
    outline: 2px solid var(--light-light-grey);
}

.ce-toolbar__plus {
    color: var(--light-light-grey);
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    outline: 2px solid var(--light-light-grey);

    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    transition: outline .1s ease;
}

.ce-toolbar__plus .plus-icon{
  font-size: 36px;
  font-weight: 200;
  translate: 0px -1px;

  transition: color .1s ease;
}

.ce-toolbar__plus:hover {
  background: none;
  outline: 2px solid var(--white);

  &> .plus-icon{
    color: var(--white);
  }
}

.cdx-button {
    padding: 13px;
    border-radius: 7px;
    border: 1px solid var(--light-light-grey);
    font-size: 15px;
    background: none;
    
    box-shadow: none;
    color: var(--light-light-grey);
    cursor: pointer;

    transition: letter-spacing .3s ease;
}

.cdx-button:hover{

  background: none;
  letter-spacing: 3px;

}

.cdx-attaches__button {
  color: var(--light-light-grey) !important;
}

.cdx-attaches.cdx-attaches--with-file{
  --color-line: var(--white);
  --color-bg: var(--light-light-grey);
  --color-bg-secondary: #F8F8F8;
  --color-bg-secondary--hover: #f2f2f2;
  --color-text-secondary: #707684;
}

.cdx-attaches__download-button{
  --color-bg-secondary: var(--light-grey3);
  --color-bg-secondary--hover: var(--light-grey);

  transition: background .2s ease;
}

.cdx-attaches--with-file{
  padding: 12px 15px !important;
}

.cdx-attaches--with-file .cdx-attaches__file-icon-background{
  width: 30px !important;
  height: 33px !important;
}

.cdx-attaches__file-info > *{
  padding: 2px;
}

.cdx-attaches__title{
  color: var(--light-grey2);
}

.cdx-attaches--with-file .cdx-attaches__title{
    font-size: 16px !important;
}

.cdx-attaches__size{
  --color-text-secondary: var(--light-grey2);
    font-size: 18px;
}

.ce-popover__container {

  --color-background: var(--light-grey);
  --color-border: var(--light-grey3);
  --popover-top: 50px;
  --popover-left: 0;

    min-width: var(--width);
    width: var(--width);
    max-height: var(--max-height);
    border-radius: var(--border-radius);
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 3px 15px -3px var(--color-shadow);
    box-shadow: 0 3px 15px -3px var(--color-shadow);
    position: absolute;
    left: var(--popover-left);
    top: var(--popover-top);
    background: var(--color-background);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 4;
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    padding: 0;
    border: none;
}

.ce-popover-item {

  --color-text-primary: var(--light-light-grey);

    --border-radius: 6px;
    border-radius: var(--border-radius);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: var(--item-padding);
    color: var(--color-text-primary);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    background: transparent;
}

.ce-popover-item:hover:not(.ce-popover-item--no-hover){

  --color-background-item-hover: var(--light-grey2);

    background-color: var(--color-background-item-hover);
}

.ce-inline-tool:hover {
    background-color: var(--light-grey2);
}

.ce-popover-item-html button svg{
  fill: none;

  &>path{
    stroke: var(--light-light-grey);
  }
}

.cdx-search-field {
    --icon-margin-right: 10px;
    background: var(--light-light-grey);
    border: 1px solid rgba(226, 226, 229, .2);
    border-radius: 6px;
    padding: 2px;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
}

.cdx-notifies{

  color: var(--black);

}

/* ghost quote */

.ce-ghost-quote{
 
  padding: 5px 20px;
  border-left: 4px solid var(--cyan-blue);
  margin: 10px 0px;

}

.ce-ghost-quote__text{

  font-size: 19px;
  font-style: italic;
  line-height: 1.5;
  font-weight: 300;
  color: var(--white);
  letter-spacing: 1px;
  border: none;
  outline: none;

}

::spelling-error {
  color: var(--light-yellow);
}

/* code block */

.ce-code__textarea.cdx-input{
    min-height: 200px;
    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    line-height: 1.6em;
    font-size: 15px;
    background: var(--light-grey2);
    border: 1px solid #f1f1f4;
    box-shadow: none;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    resize: vertical;
}

/* table */

.tc-wrap{
    --color-background: var(--white);
    --color-text-secondary: var(--black);
    --color-border: var(--white);
    --cell-size: 34px;
    --toolbox-icon-size: 18px;
    --toolbox-padding: 6px;
    --toolbox-aiming-field-size: calc(var(--toolbox-icon-size) + var(--toolbox-padding) * 2);
    border-left: 0;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: var(--toolbox-icon-size);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: calc(100% - var(--cell-size)) var(--cell-size);
    z-index: 0;
}

.tc-toolbox__toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--toggler-click-zone-size);
    height: var(--toggler-click-zone-size);
    color: var(--white);
    opacity: 0;
    transition: opacity .15s ease;
    will-change: opacity;
}

.tc-popover {
    --color-border: #eaeaea;
    --color-background: var(--light-grey2);
    --color-background-hover: rgba(232, 232, 235, .49);
    --color-background-confirm: #e24a4a;
    --color-background-confirm-hover: #d54040;
    --color-text-confirm: var(--black);
    background: var(--color-background);
    border: 1px solid var(--color-border);
    box-shadow: 0 3px 15px -3px #0d142121;
    border-radius: 6px;
    padding: 6px;
    will-change: opacity, transform;
}

.tc-cell[heading="Heading"]{
  color: var(--black);
  background: var(--light-x);
}